<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Solicitudes de Adopción</title>
    <link rel="stylesheet" href="./cssBryan/style.css">
</head>
<body>
    <header>
        <h1>Solicitudes de Adopción</h1>
        <nav>
            <a href="adopterHome.html">Mascotas en adopción</a>
            <a href="registerPet.html">Registrar nueva mascota</a>
        </nav>
    </header>

        <div id="solicitudes-container">
            <div>
                
            </div>
        </div>

    <script src="javasc/app.js"></script>
</body>
</html>
