.navbar {

    font-size: large;

}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cards {
    margin-top: 4em;
    display: flex;
    gap: 4em;
}

.cards .card {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.cards .card img.card-img-top {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.cards .card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.cards .card-body button {
    margin-top: auto;
}


#edit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    margin-top: 3em;
    width: 50%;
    padding: 2em;

}

.input-group {
    width: 80%;


}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group label {
    text-align: left;
    width: 80%;
}

#buttonRegister {
    width: 80%;
}

.buttons {
    display: flex;
    gap: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

.profile-picture {
    width: 120px;
    height: 120px;
    border: 2px solid #333;
    border-radius: 15%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-picture i.fa-user {
    font-size: 4rem;
    color: #555;
}


.edit-icon {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: #fff;
    border: 2px solid #333;
    border-radius: 40%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    text-decoration: none;
    transition: all 0.2s ease;
}

.edit-icon:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}


.title {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin-top: 1em;
    width: 90%;
    max-width: 600px;
    padding: 2.5em;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.form-group {
    width: 100%;
    margin-bottom: 1.5rem;
}

.form-control {
    border-radius: 5px;
    padding: 12px 15px;
    border: 1px solid #ced4da;
    transition: all 0.3s;
}



label {
    font-weight: 500;
    margin-bottom: 0.5rem;
    color: #495057;
}

#buttonRegister {
    width: 100%;
    padding: 12px;
    font-weight: 600;
    border-radius: 5px;
    transition: all 0.3s;
    margin-top: 1rem;
}
 
.navbar {
    font-size: large;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}