* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f0f0f0;
    padding: 20px;
    color: #000000;
}

header {
    background: #0b2203;
    color: white;
    padding: 1rem;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
#solicitudes-container {
    background-color: white;
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    max-width: 800px;
}
#solicitudes-container h1 {
    color: #000000; /* Forzar color negro */
    font-size: 24px;
    margin-bottom: 20px;
}
.logo {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #0b0f13;
}

header nav a {
    margin-right: 1rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 2rem;
}

.menu {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.menu-item {
    font-weight: bold;
    cursor: pointer;
}

.content {
    margin-bottom: 30px;
}

.content p {
    margin-bottom: 20px;
    line-height: 1.5;
}

form label {
    display: block;
    margin-bottom: 1rem;
}

form input, form textarea, form select {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.2rem;
}

button {
    padding: 0.7rem 1.5rem;
    background-color: #1e90bd;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #3d8361;
}

.containeradop {
    padding: 20px;
    margin: auto;
    background-color: rgb(129, 184, 201);
}

.cardi {
    padding: auto;
    margin: auto;
    background-color: rgb(192, 207, 137);
}

.imagecard {
    width: 160px;
    height: 160px;
    object-fit: cover;
}

.card{
    width: 250px;
    height: auto;
}

.align-right {
        margin-left: auto;
}